
.team {
    padding-bottom: 83px;
    &_text {
        font-family: $font-title;
        text-align: center;
        font-size: 24px;
        margin-bottom: 24px;
      }
      &_our {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-family: $font-main;
        margin-bottom: 88px;
        position: relative;
        &::after {
            position: absolute;
            top: 42px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            content: '';
          }
      }
      &_list {
        display: flex;
        list-style: none;
        justify-content: space-between;
      }
      &_item {
        position: relative;
        text-align: center;
        & img {
            margin-bottom: 30px;
          }
      }

  }
  
  .text_our {
    width: 942px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 92px;
  }
  
  .name {
    margin-bottom: 14px;
    font-family: $font-main;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  
  .specialty {
    font-family: $default-font-family;
    font-style: italic;
  }
  
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 470px;
    left: 0;
    top: 0;
    opacity: 0;
    background-image: linear-gradient(
      rgba(240, 153, 133, 0.8392156862745098),
      rgba(241, 211, 138, 0.88)
    );
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0 #95e1d3;
  }
  
  .social_icons {
    display: flex;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    transition: 0.3s ease-in-out;

    & svg {
        width: 2rem;
        height: 2rem;
        fill: #f38181;
      }

    &:hover {
        & svg {
            fill: $icon-fill;
        }
    }
  }
  
  .team_item:hover .overlay {
    transition: opacity 0.5s linear;
    opacity: 1;
  }
  
  .icon:hover,
  .icon:focus {
    background-color: $transition-hover-color;
  }