$default-font-family: 'Roboto', 'Arial', sans-serif;
$font-main: 'Montserrat', sans-serif;
$font-title: 'Kaushan Script', cursive;
$default-color: #555252;
$icon-fill: #ffffff;

$text-header-color: #ffffff;
$button-color: #ffffff;
$transition-hover-color: #f38181;